html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    //background-image: url("http://getwallpapers.com/wallpaper/full/3/e/9/8223.jpg");
    background-image: url("http://www.kinyu-z.net/data/wallpapers/187/1358810.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    font-style: italic;
}



#form-card {
    margin: 0px;
    border-radius: 10px;
    font-style: italic;
}

.material-icons {
    font-size: 30px !important;
    color: #0260f7;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.message-time {
    margin-top: 4px;
    float: right;
    color: #f7365d;
    font-size: 10px;
}